:root {
  --primary: #f82b0c;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  background-color: #f82b0c;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  height: 50px;
  width: auto;
  transform: scale(1.4);
  transform-origin: center;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 0.5rem; /* Adjust horizontal space between links */
  padding: 0.5rem; /* Optional: Adjust vertical padding */
  white-space: nowrap;
}

.navbar .navbar-nav a:hover {
  color: #383737;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #383737;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #383737;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between text and image */
  padding: 0 7%; /* Adjust padding for overall layout */
  background-color: var(--bg); /* Background color if needed */
  color: var(--primary);
}

.hero .content {
  flex: 1;
  padding: 1.4rem 7%;
  max-width: 60rem; /* Limit width of the text area */
}

.hero .content h1 {
  font-size: 5em;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.hero .content p {
  color: black;
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #f82b0c;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.hero .hero-image {
  flex: 1;
  text-align: right; /* Align the image container to the right */
}

.hero .hero-image img {
  max-width: 90%; /* Ensures the image fits its container */
  height: auto; /* Maintain image aspect ratio */
  object-fit: cover; /* Cover the container if needed */
}

/* About Section */
.about,
.contact {
  padding: 10rem 7% 1rem;
  color: black;
}

.about h2,
.Pricelist h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.Pricelist h2 span,
.contact h2 span {
  color: #f82b0c;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1;
  margin-right: 2rem;
}

.about .row .about-img img {
  max-width: 600px; /* Container for the image and text */
  margin: 0 auto; /* Centering the container */
  padding: 20px; /* Adding some padding */
  display: flex; /* Flexbox for layout */
  align-items: center;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

/* PriceList Section*/
.Pricelist {
  padding: 8rem 7% 1.4rem;
  color: black;
}

.Pricelist h2,
.contact h2 {
  margin-bottom: 1rem;
}

.Pricelist p,
.contact p {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.Pricelist .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.Pricelist .row .price-card {
  text-align: center;
  padding-bottom: 4rem;
}

.Pricelist .row .price-card img {
  width: 80%;
}

.Pricelist .row .price-card .price-card-title {
  margin-top: 1rem auto 0.5rem;
  font-weight: 200;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.409);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.4rem;
  background: none;
  color: black;
}

.contact .row form .btn {
  margin-top: 3rem;
  padding: 0.9rem 0.9rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: #f82b0c;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: black;
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: black;
  font-weight: 700;
}
/* Media Queries */

/* laptop */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .navbar-logo img {
    height: 50px; /* Resize for smaller screens */
    width: auto;
    transform: scale(0.9);
    transform-origin: center;
  }

  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f82b0c41;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .Pricelist p {
    font-size: 1.5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  .hero .hero-image {
    margin-top: 10px;
    width: 90%; /* Increase the size slightly on mobile */
    max-width: 100%; /* Ensures the image fits its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
  }

  html {
    font-size: 50%;
  }
}
